:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --griClaro: #dfe9f3;
}
/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /* Este valor de 16px equivale a 1rem */
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(
        to top,
        var(--griClaro) 0%,
        var(--blanco) 100%
    );
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
img {
    width: 100%;
}
.sombra {
    /*  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
        0px 5px 15px 5px rgba(112, 114, 112, 0.42); */
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
        0px 5px 10px 5px rgba(0, 0, 0, 0.44);
    background-color: var(--blanco);
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
}
.boton {
    background-color: var(--secundario);
    padding: 1rem 3rem;
    color: var(--blanco);
    text-transform: uppercase;
    margin-top: 3rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
    border: none;
}
.boton:hover {
    cursor: pointer;
}
/* Tipografia */
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1,
h2,
h3 {
    text-align: center;
}
/* Header */
.titulo span {
    font-size: 2rem;
    font-weight: 700;
}
header {
    background-color: var(--blanco);
}
/* Navegación */
.nav-bg {
    background-color: var(--secundario);
}
.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 560px) {
    .navegacion {
        flex-direction: row;
    }
}
.navegacion__enlace {
    text-decoration: none;
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 700;
    padding: 1.5rem;
}
.navegacion__enlace:hover {
    background-color: var(--primario);
    color: var(--oscuro);
    /* padding: 1.5rem; */
}

.img-hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    /* padding: 1rem; */
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero {
    position: absolute;
    background-color: rgba(12, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 568px) {
    .img-hero {
        height: 36rem;
    }
}
.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}
/* Main */
/* .contenedor-servicios {
    width: 90%;
} */
/* .trabajos {
    display: flex;
    justify-content: space-between;
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}
.trabajos svg {
    background-color: var(--primario);
    width: 10.2rem;
    height: 10.2rem;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .trabajos {
        display: flex;
        flex-direction: column;
    }
}
 */
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.5rem; /* Este es la funcion para separar las colomnas con
        medida especifica */
        align-items: center;
    }
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: var(--secundario);
    font-weight: 400;
}
.servicio p {
    text-align: center;
    line-height: 1.5;
}
.servicio .iconos {
    width: 15rem;
    height: 15rem;
    background-color: var(--primario);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50%;
}
.footer {
    text-align: center;
    font-weight: 700;
}

/* CONTACTO */
.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%); /* Este parametro utiliza el valor mas pequeño */
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}
.titulo-formulario {
    text-align: center;
    color: var(--primario);
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.contenedor-inputs {
}
.inputs {
    margin-bottom: 1rem;
}
.inputs label {
    color: var(--blanco);
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: block;
}
.input-text {
    width: 100%;
    border: none;
    font-size: 1.8rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
}
.enviar {
    display: flex;
    justify-content: flex-end;
}
.btn-input {
    width: 100%;
}
@media (min-width: 768px) {
    .btn-input {
        width: auto;
    }
}
